
.montserrat-18-100-b{
	font-family:'Montserrat';
	font-size:18px;
	letter-spacing:2px;
	font-weight:bold;
}
.montserrat-18-0-b{
	font-family:'Montserrat';
	font-size:18px;
	letter-spacing:0px;
	font-weight:bold;
}
.montserrat-18-0{
	font-family:'Montserrat';
	font-size:18px;
	letter-spacing:0px;
}
.montserrat-14-100-b{
	font-family:'Montserrat';
	font-size:14px;
	letter-spacing:2px;
	font-weight:bold;
}
.googlesans-14-0-bi{
	font-family:'Montserrat';
	font-size:14px;
	letter-spacing:0px;
	font-weight:bold;
	font-style:italic;
}
.montserrat-18-0-b{
	font-family:'Montserrat';
	font-size:18px;
	letter-spacing:0px;
	font-weight:bold;
}
.montserrat-18-0{
	font-family:'Montserrat';
	font-size:18px;
	letter-spacing:0px;
}
.montserrat-14-100-b{
	font-family:'Montserrat';
	font-size:14px;
	letter-spacing:2px;
	font-weight:bold;
}
.montserrat-14-0{
	font-family:'Montserrat';
	font-size:14px;
	letter-spacing:0px;
}
.montserrat-16-0-b{
	font-family:'Montserrat';
	font-size:16px;
	letter-spacing:0px;
	font-weight:bold;
}
.montserrat-14--10{
	font-family:'Montserrat';
	font-size:14px;
	letter-spacing:0px;
}
.montserrat-11-0{
	font-family:'Montserrat';
	font-size:11px;
	letter-spacing:0px;
}
.montserrat-14-0-b{
	font-family:'Montserrat';
	font-size:14px;
	letter-spacing:0px;
	font-weight:bold;
}


.googlesans-14-0-bi{
	font-family:'Google Sans';
	font-size:14px;
	letter-spacing:0px;
	font-weight:bold;
	font-style:italic;
}
.montserrat-18-0-b{
	font-family:'Montserrat';
	font-size:18px;
	letter-spacing:0px;
	font-weight:bold;
}
.montserrat-18-0{
	font-family:'Montserrat';
	font-size:18px;
	letter-spacing:0px;
}
.montserrat-14-100-b{
	font-family:'Montserrat';
	font-size:14px;
	letter-spacing:2px;
	font-weight:bold;
}
.montserrat-14-0{
	font-family:'Montserrat';
	font-size:14px;
	letter-spacing:0px;
}
.montserrat-16-0-b{
	font-family:'Montserrat';
	font-size:16px;
	letter-spacing:0px;
	font-weight:bold;
}
.montserrat-14--10{
	font-family:'Montserrat';
	font-size:14px;
	letter-spacing:0px;
}
.montserrat-11-0{
	font-family:'Montserrat';
	font-size:11px;
	letter-spacing:0px;
}
.montserrat-14-0-b{
	font-family:'Montserrat';
	font-size:14px;
	letter-spacing:0px;
	font-weight:bold;
}
.montserrat-24-0-b{
	font-family:'Montserrat';
	font-size:24px;
	letter-spacing:0px;
	font-weight:bold;
}
.montserrat-22-16-b{
	font-family:'Montserrat';
	font-size:22px;
	letter-spacing:0px;
	font-weight:bold;
}
.montserrat-16--6{
	font-family:'Montserrat';
	font-size:16px;
	letter-spacing:0px;
}




.cafeta-25-0{
	font-family:'Cafeta';
	font-size:25px;
	letter-spacing:0px;
}
.nexabold-25-0{
	font-family:'NexaBold';
	font-size:25px;
	letter-spacing:0px;
}
.gothamrounded-book-17-0{
	font-family:'GothamRounded-Book';
	font-size:17px;
	letter-spacing:0px;
}
.nexabold-19-0{
	font-family:'NexaBold';
	font-size:19px;
	letter-spacing:0px;
}

.cafeta-25-200{
	font-family:'Cafeta';
	font-size:25px;
	letter-spacing:11px;
}

