//page-center

.page-center{
	position:relative;
	height:0px;
	
	&-0{
		position:absolute;
		left:51px; top:2275px;
		color:#ffffff;
	}
	
	&-1{
		position:absolute;
		left:51px; top:2041px;
		color:#ffffff;
	}
	
	&-2{
		position:absolute;
		left:51px; top:1940px;
		color:#ffffff;
	}
	
	&-3{
		position:absolute;
		left:51px; top:1848px;
		color:#ffffff;
	}
	
	&-4{
		position:absolute;
		left:51px; top:1658px;
		color:#ffffff;
	}
	
	&-5{
		position:absolute;
		left:51px; top:1408px;
		color:#ffffff;
	}
	
	&-6{
		position:absolute;
		left:65px; top:1168px;
		color:#ffffff;
	}
	
	&-7{
		position:absolute;
		left:50px; top:923px;
		color:#ffffff;
	}
	
	&-8{
		position:absolute;
		left:36px; top:674px;
		color:#ffffff;
	}
	
	&-9{
		position:absolute;
		left:61px; top:205px;
		color:#ffffff;
	}
	
	&-10{
		position:absolute;
		left:1132px; top:29px;
		color:#ffffff;
	}
	
	&-11{
		position:absolute;
		left:722px; top:29px;
		color:#ffffff;
	}
	
	&-12{
		position:absolute;
		left:332px; top:29px;
		color:#ffffff;
	}
	
	.c2col{
		position:absolute;
		left:218px; top:1330px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px;
		padding:29px 0 35px;
		
		& > div:nth-child(1){
			text-align:center;
			background-color:#871919;
			width:74px; height:51px;
			margin:0 auto;
		}
		
		& > div:nth-child(2){
			text-align:center;
			background-color:#871919;
			width:74px; height:51px;
			margin:15px auto 0;
		}
	}
	
	.c2row{
		display:flex;
		flex-direction:row;
		position:absolute;
		left:218px; top:1085px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px; height:181px;
		
		& > div:nth-child(1){
			background-color:#871919;
			flex:0 0 auto;
			width:74px; height:51px;
			margin:auto 0 auto 80px;
		}
		
		& > div:nth-child(2){
			background-color:#871919;
			flex:0 0 auto;
			width:74px; height:51px;
			margin:auto 0 auto 13px;
		}
	}
	
	.divabscenter{
		position:absolute;
		left:1008px; top:841px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px; height:181px;
		
		& > div{
			position:absolute;
			left:50%; top:50%;
			transform:translate(-50%, -50%);
			background-color:#871919;
			width:127px; height:51px;
		}
	}
	
	.divabscentery{
		position:absolute;
		left:611px; top:841px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px; height:181px;
		
		& > div{
			position:absolute;
			left:97px; top:50%;
			transform:translateY(-50%);
			background-color:#871919;
			width:127px; height:51px;
		}
	}
	
	.divabscenterx{
		position:absolute;
		left:218px; top:841px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px; height:181px;
		
		& > div{
			position:absolute; top:65px;
			left:50%;
			transform:translateX(-50%);
			background-color:#871919;
			width:127px; height:51px;
		}
	}
	
	.divcenter{
		display:flex;
		flex-direction:column;
		position:absolute;
		left:1008px; top:595px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px; height:181px;
		
		& > div{
			background-color:#871919;
			flex:0 0 auto;
			width:127px; height:51px;
			margin:auto;
		}
	}
	
	.divcentery{
		display:flex;
		flex-direction:column;
		position:absolute;
		left:611px; top:595px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px; height:181px;
		
		& > div{
			background-color:#871919;
			flex:0 0 auto;
			width:127px; height:51px;
			margin:auto 0 auto 97px;
		}
	}
	
	.divcenterx{
		position:absolute;
		left:218px; top:595px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px; height:181px;
		
		& > div{
			text-align:center;
			background-color:#871919;
			width:127px; height:51px;
			margin:65px auto 0;
		}
	}
	
	.textcenter{
		display:flex;
		flex-direction:column;
		position:absolute;
		left:1008px; top:115px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px; height:181px;
		
		& > p{
			line-height:181px;
			color:#ffffff;
			text-align:center;
		}
	}
	
	.textcentery{
		display:flex;
		flex-direction:column;
		position:absolute;
		left:608px; top:115px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px; height:181px;
		
		& > p{
			line-height:181px;
			margin-left:101px;
			color:#ffffff;
		}
	}
	
	.contcenterx3{
		display:flex;
		flex-direction:column;
		position:absolute;
		left:1008px; top:355px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px; height:181px;
		
		& > div{
			flex:0 0 auto;
			height:51px;
			margin:auto;
			
			& > div{
				background-color:#871919;
				width:127px; height:100%;
			}
		}
	}
	
	.contcenterx2{
		display:flex;
		flex-direction:column;
		position:absolute;
		left:608px; top:355px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px; height:181px;
		
		& > div{
			flex:0 0 auto;
			height:55px;
			margin:auto 0 auto 101px;
			
			& > p{
				color:#ffffff;
			}
		}
	}
	
	.contcenterx{
		position:absolute;
		left:218px; top:355px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px; height:181px;
		
		.helloworld{
			text-align:center;
			height:55px;
			margin:73px auto 0;
			
			& > p{
				color:#ffffff;
			}
		}
	}
	
	.textcenterx{
		position:absolute;
		left:218px; top:115px;
		background-color:#aa8d00;
		border:5px solid #000000;
		width:322px; height:181px;
		
		& > p{
			margin-top:73px;
			color:#ffffff;
			text-align:center;
		}
	}
	
	.quiz1{
		display:flex;
		flex-direction:column;
		align-items:center;
		position:absolute;
		left:218px; top:1590px;
		background-color:#18191f;
		border-radius:10px;
		width:198px;
		padding:28px 0 71px;
		
		&-title{
			color:#ffffff;
		}
		
		&-desc{
			margin-top:10px;
			color:#ffffff;
		}
		
		&-footer{
			display:flex;
			flex-direction:column;
			position:absolute;
			left:0px; bottom:0px;
			background-color:#65bf84;
			border-bottom-right-radius:10px;
			border-bottom-left-radius:10px;
			flex:0 0 auto;
			width:100%; height:50px;
			
			& > p{
				line-height:50px;
				color:#ffffff;
				text-align:center;
			}
		}
	}
	
	.quiz2{
		display:flex;
		flex-direction:column;
		justify-content:center;
		position:absolute;
		left:618px; top:1590px;
		background-color:#18191f;
		border-radius:10px;
		width:198px; height:175px;
		padding:0 44px;
		
		&-title{
			margin-left:21px;
			color:#ffffff;
		}
		
		&-desc{
			margin-top:10px;
			color:#ffffff;
		}
		
		&-footer{
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
			position:absolute;
			left:0px; bottom:0px;
			background-color:#65bf84;
			border-bottom-right-radius:10px;
			border-bottom-left-radius:10px;
			flex:0 0 auto;
			width:100%; height:50px;
			
			& > p{
				color:#ffffff;
			}
		}
	}
	
	.quiz3{
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		position:absolute;
		left:1035px; top:1590px;
		background-color:#18191f;
		border-radius:10px;
		width:198px; height:175px;
		
		&-title{
			color:#ffffff;
		}
		
		&-desc{
			margin-top:10px;
			color:#ffffff;
		}
		
		&-footer{
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
			position:absolute;
			left:0px; bottom:0px;
			background-color:#65bf84;
			border-bottom-right-radius:10px;
			border-bottom-left-radius:10px;
			flex:0 0 auto;
			width:100%; height:50px;
			
			& > p{
				color:#ffffff;
			}
		}
	}
	
	.btn-fb12{
		display:flex;
		flex-direction:row;
		position:absolute;
		left:214px; top:1945px;
		padding-bottom:20px;
		background-color:#3a5a97;
		border-radius:20px;
		width:345px; height:40px;
		
		&-0{
			display:flex;
			flex-direction:row;
			margin-left:auto;
			
			&-icon{
				height:20px;
			}
			
			&-txt{
				margin-left:12px;
				color:#ffffff;
			}
		}
		
		& > div:nth-child(2){
			position:absolute;
			right:13px; top:0px;
			background-image:url('images/center/btn-fb12-1.png');
			border:1px solid #707070;
			flex:0 0 auto;
			width:20px; height:20px;
		}
	}
	
	.btn-fb1{
		display:flex;
		flex-direction:row;
		position:absolute;
		left:214px; top:1853px;
		background-color:#3a5a97;
		border-radius:20px;
		width:345px; height:40px;
		
		&-0{
			display:flex;
			flex-direction:row;
			position:relative;
			margin:10px auto 0;
			
			&-icon{
				height:20px;
			}
			
			&-txt{
				margin-left:12px;
				color:#ffffff;
			}
			
			& > div{
				position:absolute;
				right:-93px; top:0px;
				background-image:url('images/center/btn-fb1-0-2.png');
				border:1px solid #707070;
				flex:0 0 auto;
				width:20px; height:20px;
			}
		}
	}
	
	.btn-fb2{
		display:flex;
		flex-direction:column;
		position:absolute;
		left:619px; top:1853px;
		background-color:#3a5a97;
		border-radius:20px;
		width:386px; height:40px;
		
		&-0{
			display:flex;
			flex-direction:row;
			position:relative;
			margin:auto 0 auto 104px;
			
			&-icon{
				background-image:url('images/center/btn-fb2-0-icon.png');
				flex:0 0 auto;
				width:9px; height:20px;
			}
			
			&-txt{
				color:#ffffff;
				margin:5px 0 0 12px;
			}
			
			&-2{
				position:absolute;
				right:-147px; top:0px;
				background-image:url('images/center/btn-fb2-0-2.png');
				border:1px solid #707070;
				flex:0 0 auto;
				width:20px; height:20px;
			}
			
			&-3{
				position:absolute;
				right:-121px; top:0px;
				background-image:url('images/center/btn-fb2-0-3.png');
				border:1px solid #707070;
				flex:0 0 auto;
				width:20px; height:20px;
			}
			
			&-4{
				position:absolute;
				right:-93px; top:0px;
				background-image:url('images/center/btn-fb2-0-4.png');
				border:1px solid #707070;
				flex:0 0 auto;
				width:20px; height:20px;
			}
		}
	}
	
	.btn-fb32{
		display:flex;
		flex-direction:row;
		position:absolute;
		left:616px; top:1945px;
		padding-bottom:1px;
		background-color:#3a5a97;
		border-radius:20px;
		width:345px; height:40px;
		
		&-0{
			display:flex;
			flex-direction:row;
			margin:auto 0 0 1px;
			
			&-icon{
				height:20px;
			}
			
			&-txt{
				margin-left:12px;
				color:#ffffff;
			}
		}
		
		& > div:nth-child(2){
			position:absolute;
			right:116px; top:19px;
			background-image:url('images/center/btn-fb32-1.png');
			border:1px solid #707070;
			flex:0 0 auto;
			width:20px; height:20px;
		}
	}
	
	.btn-fb3{
		display:flex;
		flex-direction:column;
		position:absolute;
		left:1033px; top:1853px;
		background-color:#3a5a97;
		border-radius:20px;
		width:345px; height:40px;
		
		&-0{
			display:flex;
			flex-direction:row;
			position:relative;
			margin:auto;
			
			&-icon{
				height:20px;
			}
			
			&-txt{
				margin-left:12px;
				color:#ffffff;
			}
			
			& > div{
				position:absolute;
				right:-93px; top:0px;
				background-image:url('images/center/btn-fb3-0-2.png');
				border:1px solid #707070;
				flex:0 0 auto;
				width:20px; height:20px;
			}
		}
	}
	
	.btn-fb42{
		display:flex;
		flex-direction:row;
		justify-content:flex-end;
		position:absolute;
		left:214px; top:2144px;
		background-color:#3a5a97;
		border-radius:20px;
		width:345px; height:40px;
		padding:10px 0;
		
		&-icon{
			height:20px;
		}
		
		&-txt{
			margin-left:8px;
			color:#ffffff;
		}
	}
	
	.btn-fb4{
		display:flex;
		flex-direction:row;
		justify-content:center;
		position:absolute;
		left:214px; top:2056px;
		background-color:#3a5a97;
		border-radius:20px;
		width:345px; height:40px;
		padding:10px 0;
		
		&-icon{
			height:20px;
		}
		
		&-txt{
			margin-left:8px;
			color:#ffffff;
		}
	}
	
	.btn-fb52{
		display:flex;
		flex-direction:row;
		align-items:flex-end;
		position:absolute;
		left:618px; top:2144px;
		background-color:#3a5a97;
		border-radius:20px;
		width:345px; height:40px;
		
		&-icon{
			margin-left:119px;
			background-image:url('images/center/btn-fb52-icon.png');
			flex:0 0 auto;
			width:9px; height:20px;
		}
		
		&-txt{
			margin-left:11px;
			color:#ffffff;
		}
	}
	
	.btn-fb5{
		display:flex;
		flex-direction:row;
		align-items:center;
		position:absolute;
		left:618px; top:2056px;
		background-color:#3a5a97;
		border-radius:20px;
		width:345px; height:40px;
		
		&-icon{
			margin-left:119px;
			background-image:url('images/center/btn-fb5-icon.png');
			flex:0 0 auto;
			width:9px; height:20px;
		}
		
		&-txt{
			margin-left:11px;
			color:#ffffff;
		}
	}
	
	.btn-fb6{
		display:flex;
		flex-direction:row;
		justify-content:center;
		align-items:center;
		position:absolute;
		left:1033px; top:2056px;
		background-color:#3a5a97;
		border-radius:20px;
		width:345px; height:40px;
		
		&-icon{
			height:20px;
		}
		
		&-txt{
			margin-left:12px;
			color:#ffffff;
		}
	}
	
	.footer1{
		display:flex;
		flex-direction:column;
		align-items:center;
		position:absolute;
		left:214px; top:2281px;
		background-color:#65bf84;
		border-bottom-right-radius:10px;
		border-bottom-left-radius:10px;
		width:198px; height:50px;
		
		& > p{
			margin-top:17px;
			color:#ffffff;
		}
	}
	
	.footer2{
		display:flex;
		flex-direction:column;
		justify-content:center;
		position:absolute;
		left:619px; top:2281px;
		background-color:#65bf84;
		border-bottom-right-radius:10px;
		border-bottom-left-radius:10px;
		width:198px; height:50px;
		
		& > p{
			margin-left:44px;
			color:#ffffff;
		}
	}
	
	.footer3{
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		position:absolute;
		left:1035px; top:2281px;
		background-color:#65bf84;
		border-bottom-right-radius:10px;
		border-bottom-left-radius:10px;
		width:198px; height:50px;
		
		& > p{
			color:#ffffff;
		}
	}
}
