//page-dimensions

.page-dimensions{
	
	
	.btn-socials{
		
		
		
		.button2{
			display:flex;
			flex-direction:row;
			justify-content:center;
			align-items:center;
			background-color:#3a5a97;
			border-radius:20px;
			width:345px; height:40px;
			
			&-icon{
				height:20px;
			}
			
			&-txt{
				margin-left:12px;
				color:#ffffff;
			}
		}
		
		
		.btn-fb2{
			
		}
		.btn-twitch2{
			margin-top:21px;
		}
	}
	
	.btn-fb3{
		display:flex;
		flex-direction:column;
		background-color:#3a5a97;
		border-radius:20px;
		width:345px; height:40px;
		margin:-44px 0 0 493px;
		
		&-0{
			display:flex;
			flex-direction:row;
			align-items:center;
			flex:0 0 auto;
			height:20px;
			margin:auto;
			
			&-icon{
				height:100%;
			}
			
			&-txt{
				margin-left:12px;
				color:#ffffff;
			}
		}
	}
	
	.quizzes{
		display:flex;
		flex-direction:row;
		margin:97px 0 0 232px;
		& > div:nth-child(1){
			
		}
		& > div:nth-child(2){
			margin-left:20px;
		}
	}
	
	.frise-svg{
		display:flex;
		flex-direction:row;
		margin:44px 0 0 14px;
		
		
		.frisesquare{
			display:flex;
			flex-direction:column;
			background-color:#171b22;
			border-radius:3px;
			width:20px; height:20px;
			
			&-icon{
				flex:0 0 auto;
				height:11px;
				margin:auto;
			}
		}
		
		
		&-0{
			flex:0 0 auto;
		}
		.test2{
			margin-left:11px;
			flex:0 0 auto;
		}
		& > div:nth-child(3){
			margin-left:11px;
			flex:0 0 auto;
		}
	}
	
	&-bulle2{
		position:relative;
		background-color:#1e222a;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		width:370px;
		margin:34px 0 0 8px;
		padding:23px 20px 22px;
		
		&-header{
			display:flex;
			flex-direction:row;
			align-items:center;
			margin-left:5px;
			height:50px;
			
			.avatar{
				background-image:url('images/dimensions/avatar.png');
				border-radius:25px;
				flex:0 0 auto;
				width:50px; height:100%;
			}
			
			& > p{
				margin-left:17px;
				color:#ffffff;
			}
		}
		
		&-subtitle{
			color:#ff5c5c;
			margin:13px 0 0 4px;
		}
		
		&-desc{
			margin-top:17px;
			color:#8f9ba5;
		}
		
		&-rate{
			display:flex;
			flex-direction:row;
			margin-top:6px;
			
			.star{
				margin-top:6px;
				background-image:url('images/dimensions/star.svg');
				flex:0 0 auto;
				width:12px; height:11px;
			}
			
			& > p{
				margin-left:15px;
				color:#50585f;
			}
			
			.random-shape{
				background-color:rgba(255, 255, 255, 0.9);
				border:1px solid rgba(112, 112, 112, 0.9);
				border-radius:9px;
				flex:0 0 auto;
				width:17px; height:17px;
				margin:4px 0 0 9px;
			}
		}
		
		&-author{
			position:absolute;
			left:59px; bottom:-32px;
			color:#7c7d7e;
		}
		
		&-pointe{
			position:absolute;
			left:18px; bottom:-32px;
			background-image:url('images/dimensions/page-dimensions-bulle2-pointe.svg');
			width:41px; height:32px;
		}
	}
	
	.quiz2{
		display:flex;
		flex-direction:column;
		align-items:center;
		position:relative;
		background-color:#18191f;
		border-radius:10px;
		width:198px;
		margin:97px 0 0 10px;
		padding:28px 0 103px;
		
		&-title{
			color:#ffffff;
		}
		
		&-footer{
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:center;
			position:absolute;
			left:0px; bottom:0px;
			background-color:#65bf84;
			border-bottom-right-radius:10px;
			border-bottom-left-radius:10px;
			flex:0 0 auto;
			width:100%; height:50px;
			
			.start{
				color:#ffffff;
			}
		}
	}
	
	.bloc-quiz{
		position:relative;
		background-color:#191919;
		border-radius:20px;
		width:837px;
		margin:131px 0 0 9px;
		padding:95px 0 36px;
		
		&-score{
			display:flex;
			flex-direction:column;
			position:absolute; top:-62px;
			left:50%;
			transform:translateX(-50%);
			background-color:#ffffff;
			border-radius:62px;
			width:124px; height:124px;
			
			&-label{
				line-height:124px;
				color:#ff5c5c;
				text-align:center;
			}
		}
		
		&-question{
			color:#ffffff;
			text-align:center;
		}
		
		&-answers{
			display:flex;
			flex-direction:row;
			justify-content:center;
			width:770px;
			margin:26px auto 0;
			
			
			.answersitem{
				display:flex;
				flex-direction:row;
				background-color:#ff5c5c;
				border-radius:5px;
				width:370px; height:69px;
				padding:19px 0 23px;
				
				&-id{
					margin-left:22px;
					color:#ffffff;
				}
				
				&-label{
					color:#ffffff;
					margin:6px 0 0 22px;
				}
			}
			
			
			&-0{
				flex:0 0 auto;
			}
			&-1{
				margin-left:30px;
			}
			&-2{
				margin:99px 0 0 -770px;
			}
			&-3{
				margin:99px 0 0 30px;
			}
		}
	}
}
